<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Pact</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap"
      rel="stylesheet"
    />
    <link href="http://localhost:3000/public/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="a4-page bg-[#F6F8FF] blood -z-10 relative">
      <!-- Header Section -->
      <div class="page-header">
        <h1 class="text-6xl font-bold mb-3 text-center">{{title}}</h1>
        <div class="w-full border-t-2 border-black my-4"></div>
        <p class="text-lg font-semibold text-center">{{description}}</p>
      </div>

      <!-- Content Section -->
      <div class="page-content">
        <div class="flex flex-col h-full justify-between">
          <div class="my-4">
            {{#each conditions}}
            <p class="text-lg font-semibold mb-2">
              <strong>{{this.title}}:</strong> {{this.description}}
            </p>
            {{/each}}
          </div>
          <div class="flex justify-center relative">
            <img
              src="http://localhost:3000/public/assets/background/bloodthree.png"
              alt="bloodtree"
              class="blood-image"
            />
          </div>
        </div>
      </div>

      <!-- Footer Section -->
      <div class="page-footer">
        <div class="flex justify-end gap-12 text-sm">
          {{#each participants}}
          <p>{{this.name}}</p>
          {{/each}}
        </div>
      </div>

      <!-- Meta Info (Top Right) -->
      <div class="absolute top-6 right-6">
        <div class="flex justify-end gap-4 text-sm">
          <span>Start: {{startAt}}</span>
          <span>Due: {{dueAt}}</span>
        </div>
      </div>
    </div>
  </body>
</html>
