<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Pact</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap"
      rel="stylesheet"
    />
    <link href="{{baseUrl}}/public/output.css" rel="stylesheet" />
  </head>
  <body class="">
    {{#chunk conditions 10}}
    <div class="a4-page bg-[#F6F8FF] blood -z-10 relative">
      <div class="a4-content">
        <!-- Header Section - Only on first page -->
        {{#if isFirst}}
        <div class="page-header">
          <h1 class="text-6xl font-bold mb-3 text-center">{{../title}}</h1>
          <div class="w-full border-t-2 border-black my-4"></div>
          <p class="text-2xl font-semibold text-center">{{../description}}</p>
        </div>
        {{/if}}

        <!-- Content Section -->
        <div class="page-content">
          <div class="flex flex-col h-full justify-between">
            <div class="my-4">
              {{#each items}}
              <p class="text-lg font-semibold mb-2">
                <strong>{{this.title}}:</strong> {{this.description}}
              </p>
              {{/each}}
            </div>
            {{#if isFirst}}
            <div class="flex justify-center relative">
              <img
                src="{{baseUrl}}/public/assets/background/bloodthree.png"
                alt="bloodtree"
                class="blood-image"
              />
            </div>
            {{/if}}
          </div>
        </div>

        <!-- Footer Section - Only on last page -->
        {{#if isLast}}
        <div class="page-footer space-y-4">
          {{#chunk ../participants 5}}
          <div class="flex justify-end gap-8 text-sm">
            {{#each this.items}}
            <div class="flex flex-col items-center">
              <p class="font-semibold mb-12">{{this.name}}</p>
            </div>
            {{/each}}
          </div>
          {{/chunk}}
        </div>
        {{/if}}
      </div>

      <!-- Meta Info (Top Right) -->
      <div class="absolute top-6 right-12">
        <div class="flex justify-end gap-4 text-sm">
          <span>Start: {{../startAt}}</span>
          <span>Due: {{../dueAt}}</span>
        </div>
      </div>
    </div>
    {{/chunk}}
  </body>
</html>
